@import "../../../utils/variables";

.edit {
  display: flex;
  flex-direction: column;
  &-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    & textarea {
      height: 140px;
      resize: none;
    }
  }
  &-input {
    width: 80%;
    margin-top: 12px;
    appearance: none;
    box-shadow: $input-box-shadow;
    border: $input-border;
    border-radius: $input-border-redius;
    font-size: $input-font-size;
    line-height: $input-line-height;
    padding: $input-padding;
    outline: none;
    transition: 0.2s;
    &:focus,
    &:hover {
      box-shadow: $input-hover-box-shadow;
    }
  }
  &-actions {
    display: flex;
    justify-content: space-evenly;
  }
}
