@import "../../../utils/variables";

.card {
  width: 650px;
  border-radius: 8px;
  box-shadow: $card-box-shadow;
  padding: 24px;
  background-color: $white;
  &-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
}
