@import "../../../utils/variables";

.dimmer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $modal-dimmer-bg;
  & .modal {
    width: 500px;
    background: $modal-bg;
    border: $modal-border;
    border-radius: $modal-border-radius;
    box-shadow: $modal-box-shadow;
    padding: 12px;
    &-top {
      display: flex;
      justify-content: flex-end;
    }
    &-close {
      cursor: pointer;
    }
  }
}
