@import "../../../utils/variables";

.button {
  appearance: none;
  background-color: $button-neutral-bg;
  border: $button-border;
  border-radius: $button-border-radius;
  box-shadow: $button-box-shadow;
  box-sizing: border-box;
  cursor: pointer;
  padding: $bbutton-padding;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
  &:hover {
    background-color: $button-neutral-hover-bg;
  }
  &-danger {
    background-color: $button-danger-bg;
    color: $button-danger-text;
    &:hover {
      background-color: $button-danger-hover-bg;
    }
  }
  &-success {
    background-color: $button-success-bg;
    color: $button-danger-text;
    &:hover {
      background-color: $button-success-hover-bg;
    }
  }
}
