@import "./utils/variables";

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: $app-bg-golor;
  height: 100vh;
  &-title {
    padding: 24px;
    height: 100vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
}
